.blog-list-container{
    width: 80%;
    margin: 0 auto;
}
.blog-list__title{
    margin: 20px 0;
    background-color: red;
    color:white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
  }
.blog-list__left{
    padding-right: 20px;
}
  .blog-list__content{
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


/* ===============REPONSIVE================ */
  @media  screen and (min-width:820px) {
    .blog-list__title{
        font-size: 18px;
        text-align: center;
    }
    .blog-list__right{
        display: none;
    }
    .blog-list__left{
        border: none;
        width: 100%;
        padding: 0;
    }
    .blog-list__img{
        width: 100%;
        overflow: hidden;
    }
    .blog-list-item__tittle{
        text-align:center;
        font-size: 16px;
        font-weight: bold;
    }
    .blog-list__content{
        font-size: 14px;
    }
  }

  @media screen and (max-width:413px) {
    .blog-list__title{
        font-size: 15px;
        text-align: center;
    }
    .blog-list__right{
        display: none;
    }
    .blog-list__left{
        border: none;
        width: 100%;
        padding: 0;
    }
    .blog-list__img{
        width: 100%;
        overflow: hidden;
    }
    .blog-list-item__tittle{
        text-align:justify;
        font-size: 14px;
        font-weight: bold;
    }
  }

  