* {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.page_content{
  display:flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
}
.page_content_left, 
.page_content_right{
  width: 50%;
  height: 100%;
}
.product_content_detail{
  border: 1px solid #eeee;
  padding: 0 15px 15px 15px;
}
.product_content_detail>img {
  width: 200px;
}
.Discount {
  font-size: 30px;
}
.detail_table{
  width: 100%;
  height: auto;
}
.detail_table img {
  width: 60%;
  border-radius: 5px;
  margin: 15px auto;
  object-fit: cover;
}
.detail_table table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 10px;
}

.detail_table  td:first-child {
  background-color: #f7f7f7 !important;
  border :1px solid #eeeeee;
  box-sizing: border-box;
  padding: 8px;
  vertical-align: top;
  width: 168px;
  font-weight: 700;
}

.detail_table td:last-child {
  border :1px solid #eeeeee;
  box-sizing: border-box;
  padding: 8px;
  vertical-align: top;
}

.detail_table  tr td li {
  list-style: none;
}
@media screen and (max-width:768px ){
  .page_content{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
}
.page_content_left, 
.page_content_right{
  width: 100%;
  height: 100%;
}
}
